SOAP Countries/countriesclient/src/main/resources/wsdl/countries.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8080/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/webservice" targetNamespace="http://localhost:8080/webservice">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8080/webservice">
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="PLN"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="student">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                    <xs:element name="admissionNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStudentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="admissionNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStudentRequest">
        <wsdl:part element="tns:getStudentRequest" name="getStudentRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStudentResponse">
        <wsdl:part element="tns:getStudentResponse" name="getStudentResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <wsdl:input message="tns:getStudentRequest" name="getStudentRequest"> </wsdl:input>
            <wsdl:output message="tns:getStudentResponse" name="getStudentResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <soap:operation soapAction=""/>
            <wsdl:input name="getStudentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStudentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>